<div><div class="user_img"><%= gravatar_for user, :size => 30 %></div>
  <div class="user_name"><% if current_user.admin? and user.id != current_user.id %><div class="img_delete"><%= link_to img_delete, user, :method => :delete, :confirm => "You sure?",:title => "Delete #{user.name}" %></div><% end %>
    <%= link_to user.name, user %></div>
</div>
